.idea/docker.iml
.idea/modules.xml
.idea/php.xml
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
db/aria_log_control
db/aria_log.00000001
db/ib_buffer_pool
db/ib_logfile0
db/ib_logfile1
db/ibdata1
db/ibtmp1
db/multi-master.info
